* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei,
        Microsoft Yahei, sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 2.5em;
}

textarea:focus,
input:focus {
    outline: none;
}